/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

div.ForceLightMode {
    background-color: #FFFFFF;
    color: #000000;
}

.MainWindow {
    position: absolute;
    overflow: hidden;
}

.homeBase {
    padding-left: 5%;
    padding-right: 5%;
}

.homeBase h1, .homeBase h2 {
    padding-top: 2vh;
    text-align: center;
}

.homeImage {
    flex: 3;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.homeImage img {
    max-width: 90%;
}

.homeCopy {
    flex: 2;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5%;
    font-size: larger;
}

.homeCopy div {
    max-width: 600px;
    padding-top: 30px;
}

.homeButton {
    margin-top: 5%;
    text-align: center;
}

.authorship {
    font-size: small;
    font-style: italic;
    padding-top: 10px;
    max-width: 50%;
}

.authorship div {
    padding-top: 15px;
}

.checkboxGroup {
    padding-left: 8px;
    padding-top: 15px;
}

.manifestLabel {
    padding-top: 0px;
    padding-left: 20px;
    /* padding-top: 20px; */
    font-weight: bold;
    min-width: 320px;
    display: inline-block;
}

.ControlPanelWrapper {
    margin: 20px;
    padding: 100px 20px 0px 20px;
}

/* !important isn't great style, but this will get overwritten by some MUI class styling otherwise */
.checkboxItem {
    padding: 1px !important;
    transform: scale(0.8);
}

.sliderWrapper {
    padding-left: 8px;
    padding-top: 10px;
}

.switchWrapper {
    padding-left: 8px;
}

.overviewTable {
    height: 500px;
    width: 100%;
}

.surfaceControlFlexSplit {
    flex: 1;
    padding: 20px;
}

.surfaceControlFlexSplitAlt {
    flex: 1;
    padding: 5px 20px 20px 20px;
}

.hrWrapper {
    padding: 10px;
}

.dropdownWrapper {
    padding-bottom: 10px;
}

.codeSnippetWrapper {
    border: 1px solid #7f7f7f;
    margin: 10px 0px 10px 10px;
    padding-left: 20px;
}

.simulationViewParent {
    width: 100%
}

.simulationViewWrapper {
    padding: 10px;
}

.simulationViewWrapperLeft {
    padding: 10px;
    flex: 2;
}

.simulationViewWrapperRight {
    padding: 10px;
    flex: 1;
}

.flexWrapper {
    display: flex;
}

.indent {
    padding-left: 20px;
}

.iotaProfileWrapper {
    margin: 20px;
}

.padded {
    padding: 20px;
}

.poincareContainer {
    margin: 10px;
}

.poincareContainer img {
    max-width: 98%;
}
