/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

div.ForceLightMode {
    background-color: #FFFFFF;
    color: #000000;
}

.MainWindow {
    position: absolute;
    overflow: hidden;
}

.homeBase {
    padding-left: 5%;
    padding-right: 5%;
}

.homeBase h1, .homeBase h2 {
    padding-top: 2vh;
    text-align: center;
}

.homeImage {
    flex: 3;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.homeImage img {
    max-width: 90%;
}

.homeCopy {
    flex: 2;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5%;
    font-size: larger;
}

.homeCopy div {
    max-width: 600px;
    padding-top: 30px;
}

.homeButton {
    margin-top: 5%;
    text-align: center;
}

.authorship {
    font-size: small;
    font-style: italic;
    padding-top: 10px;
    max-width: 50%;
}

.authorship div {
    padding-top: 15px;
}

.checkboxGroup {
    padding-left: 8px;
    padding-top: 15px;
}

.manifestLabel {
    padding-top: 0px;
    padding-left: 20px;
    /* padding-top: 20px; */
    font-weight: bold;
    min-width: 320px;
    display: inline-block;
}

.ControlPanelWrapper {
    margin: 20px;
    padding: 100px 20px 0px 20px;
}

.buttonRow {
    display: inline flex;
}

.showFiltersButton {
    float: left;
    margin: 20px 5px 20px 20px;
}

.instructionButton {
    float: left;
    margin: 15px 20px 10px 5px;
    align-items: center;
}

.instructionBox {
    font-size: larger;
    line-height: 1.2;
    max-width: 80ch;
    align-content: center;
    margin-left: calc(50% - 80ch/2);
    margin-top: 50px;
    margin-bottom: 50px;
}

.instructionBox div {
    margin: 20px;
}

/* !important isn't great style, but this will get overwritten by some MUI class styling otherwise */
.checkboxItem {
    padding: 1px !important;
    transform: scale(0.8);
}

.sliderWrapper {
    padding-left: 8px;
    padding-top: 15px;
}

.switchWrapper {
    padding-left: 8px;
}

.rangeLabel {
    float: left;
}

.rangeResetButton {
    float: right;
}

.highlightedPlot {
    border: 1px solid #7f7f7f;
}

.unhighlightedPlot {
    border: 1px solid #ffffff;
}

.drawerCloser {
    display: block;
}

.rightIcon {
    margin: 10px;
    float: right;
}

.plotGrid {
    padding: 15px;
}

.plotGridNote {
    padding: 20px 10px 10px 30px;
}

.plotCaption {
    text-align: center;
    margin-left: 80px;
}

.legend {
    border: 1px solid #111111;
}

.legendHeader {
    margin: 5px;
    font-weight: bold;
}

.legendEntry {
    display: inline flex;
    margin: 6px 16px 6px 16px;
    align-items: center;
}

.colorBox {
    float: left;
    width: 8px;
    height: 8px;
    overflow: hidden;
    /* TODO: Positioning to center it */
}

.legendText {
    float: left;
    margin-left: 8px;
    padding: 5px;
}

.overviewTable {
    height: 500px;
    width: 100%;
}

.surfaceControlFlexSplit {
    flex: 1;
    padding: 20px;
}

.surfaceControlFlexSplitAlt {
    flex: 1;
    padding: 5px 20px 20px 20px;
}

.hrWrapper {
    padding: 10px;
}

.dropdownWrapper {
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 10px;
}

.codeSnippetWrapper {
    border: 1px solid #7f7f7f;
    margin: 10px 0px 10px 10px;
    padding-left: 20px;
}

.simulationViewParent {
    width: 100%
}

.simulationViewWrapper {
    padding: 10px;
}

.simulationViewWrapperLeft {
    padding: 10px;
    flex: 2;
}

.simulationViewWrapperRight {
    padding: 10px;
    flex: 1;
}

.flexWrapper {
    display: flex;
}

.indent {
    padding-left: 20px;
}

.iotaProfileWrapper {
    margin: 20px;
}

.padded {
    padding: 20px;
}

.poincareContainer {
    margin: 10px;
}

.poincareContainer img {
    max-width: 98%;
}

.emphasis {
    font-weight: bold;
}
