/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.manifestLabel {
    padding-top: 0px;
    padding-left: 20px;
    /* padding-top: 20px; */
    font-weight: bold;
    min-width: 280px;
    display: inline-block;
}

.ControlPanelWrapper {
    margin: 20px;
    padding: 100px 20px 0px 20px;
}

.MainWindow {
    position: absolute;
    overflow: hidden;
}

.checkboxGroup {
    padding-left: 8px;
    padding-top: 15px;
}

/* !important isn't great style, but this will get overwritten by some MUI class styling otherwise */
.checkboxItem {
    padding: 1px !important;
    transform: scale(0.8);
}

.sliderWrapper {
    padding-left: 8px;
    padding-top: 10px;
}

.switchWrapper {
    padding-left: 8px;
}

div .overviewTable {
    height: 600px;
    width: 100%;
}

.surfaceControlFlexSplit {
    flex: 1;
    padding: 20px;
}

.surfaceControlFlexSplitAlt {
    flex: 1;
    padding: 5px 20px 20px 20px;
}

div .hrWrapper {
    padding: 10px;
}

div .dropdownWrapper {
    padding-bottom: 10px;
}

div .codeSnippetWrapper {
    border: 1px solid #7f7f7f;
    margin: 10px 0px 10px 10px;
    padding-left: 20px;
}

div .simulationViewParent {
    width: 100%
}

div .simulationViewWrapper {
    padding: 10px;
}

div .simulationViewWrapperLeft {
    padding: 10px;
    flex: 2;
}

div .simulationViewWrapperRight {
    padding: 10px;
    flex: 1;
}

div .flexWrapper {
    display: flex;
}

div .indent {
    padding-left: 20px;
}

div .iotaProfileWrapper {
    margin: 20px;
}

div .padded {
    padding: 20px;
}

div .poincareContainer {
    margin: 10px;
}

.poincareContainer img {
    max-width: 98%;
}
